ffp10data/COM_SimMap_freefree-ffp10-skyinbands-217_2048_R3.00_full.fits filter=lfs diff=lfs merge=lfs -text
ffp10data/COM_SimMap_synchrotron-ffp10-skyinbands-217_2048_R3.00_full.fits filter=lfs diff=lfs merge=lfs -text
